/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

/* CSS Custom Property for Font */
:root {
  --font-siliguri: "Hind Siliguri", sans-serif;
}

/* for any typography  */
@theme {
  /* Primary Text Colors */
  --color-primary: #111827;
  --color-secondary: #374151;
  --color-muted: #6b7280;
  --color-light: #9ca3af;

  /* Heading Text */
  --color-heading: #0f172a;

  /* Danger / Error */
  --color-danger: #dc2626;

  /* Success */
  --color-success: #16a34a;
  /* govt price */
  --color-govt-price: #6438ea;
}

/* Apply font using Tailwind @layer base */
@layer base {
  body {
    font-family: var(--font-siliguri);
  }
}

@layer components {
  /* for heading */

  /* H1 - Hero Title */
  .heading-one {
    @apply text-[clamp(32px,4vw,36px)] leading-[150%] font-bold;
  }

  /* H2 - Section Title */
  .heading-two {
    @apply text-[clamp(28px,3.5vw,32px)] leading-[150%] font-semibold;
  }

  /* H3 */
  .heading-three {
    @apply text-[clamp(24px,3vw,28px)] leading-[150%] font-semibold;
  }

  /* H4 */
  .heading-four {
    @apply text-[clamp(22px,2.5vw,24px)] leading-[150%] font-medium;
  }

  /* H5 */
  .heading-five {
    @apply text-[clamp(20px,2vw,22px)] leading-[150%] font-medium;
  }

  /* H6 */
  .heading-six {
    @apply text-[clamp(18px,1.5vw,20px)] leading-[150%] font-medium;
  }

  /* for peragraph  */

  /* Normal Paragraph */
  .para-normal {
    @apply text-[16px] leading-[160%] font-normal;
  }

  /* Medium Paragraph */
  .para-medium {
    @apply text-[16px] leading-[160%] font-medium;
  }

  /* Semi Bold Paragraph */
  .para-semibold {
    @apply text-[16px] leading-[160%] font-semibold;
  }

  /* Bold Paragraph */
  .para-bold {
    @apply text-[16px] leading-[160%] font-bold;
  }

  /* for navITems */
  .navitems {
    @apply text-lg/[150%] font-semibold;
  }
}

.p {
  color: #ECFFEC;
}

input:focus-visible {
  outline: none;
}

/* color stack
1. white
2. green
*/



/* for swiper js */


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;


  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: green;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: green;
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
